<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Node 1</title>
  </head>
  <body>
    <h1 id="message">Node Length:</h1>
  </body>
  <script
    src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"
  ></script>
  <script type="text/javascript">
    const element = document.getElementById("message");
    setInterval(function () {
      $.ajax({
        type: "GET",
        url: "http://172.19.0.2:5000/smart/chain",
        success: function (data) {
          let dataJson = JSON.stringify(data);
          console.log(dataJson);
          element.innerHTML += "<br/>Block: " + data.length;
        },
      });
    }, 5000);
  </script>
</html>
